<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3936059999966875",
            enable_page_level_ads: true
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143090125-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-143090125-1');
    </script>
    <title>
        Chat
    </title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEK2lNJ7ekp7VdRAe9Jc3JzxIf3sB40GE"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="jsnetworkx.js"></script>
    <script defer src="index4.js"></script>
</head>

<body>
    <section id="maps">
        <div id="map" style="display: none;"></div>
        <div class="data_write"></div>
    </section>
    <div id="banner">
        Open the chat popup to see the chat network and chat suggestions!
    </div>
    <div id="format">
        <div class="data_below" id="graph1"></div>
        <div class="data_below" id="graph2"></div>
        <div class="data_below" id="graph3"></div>
        <div class="data_below" id="graph4"></div><br>
        <div class="data_below" id="graph5"></div>
        <div class="data_below" id="graph6"></div>
        <div class="data_below" id="graph7"></div>
        <div class="data_below" id="graph8"></div><br>
        <div class="data_below" id="graph9"></div>
        <div class="data_below" id="graph10"></div>


        
    </div>
    <div id="chatBox">
        <div style="color: white; text-align: center;">
            <input id="nameTaker" type="hidden" name="authorizedIDX" value="user" placeholder="Set a name to begin">
        </div>
        <h3 class="outter" id="chatpop">Global Chat Room<div>&#x25CF;&nbsp;...</div>
        </h3>
        <section id="sec">
            <h3 id="head">Global Chat Room<div>&#x25CF;&nbsp;...</div>
            </h3>
            <div id="chatFeed">
                <ol class="messages">
                </ol>
            </div>
            <div id="interact">
                <input id="chatInput" type="text">
                <button id="chatbtn">Send</button>
            </div>
        </section>
    </div>
</body>

</html>